.round {
    width: 60px;
    height: 60px;
    --border-radius: 50%;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
}

#btnOptions {
    position: absolute;
    top: 5px;
    right: 5px;
}

#map {
    width: 100%;
    height: 100%;
}

ion-app._gmaps_cdv_ .nav-decor{
    background-color: transparent !important;
}