<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Google Map (A-B) Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div id="map">
    <ion-button id="btnOptions" class="round" slot="icon-only" color="dark" (click)="btnOptions($event);">
      <ion-icon color="primary" slot="icon-only" name="options"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p text-center>Distance (A-B) {{distance}} meters</p>
  </ion-toolbar>
</ion-footer>