<ion-list>
  <ion-radio-group [(ngModel)]="selectedRange" (ionChange)="setRange($event)">
    <ion-list-header>
      <ion-label>Distance circles</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>none</ion-label>
      <ion-radio name="selectedRange" slot="start" value="0" ></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>25 meter</ion-label>
      <ion-radio name="selectedRange" slot="start" value="25" ></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>50 meter</ion-label>
      <ion-radio name="selectedRange" slot="start" value="50"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>100 meter</ion-label>
      <ion-radio name="selectedRange" slot="start" value="100"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>

