<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Google Map (size) Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-segment [(ngModel)]="selection" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="map">
      <ion-label>Map</ion-label>
    </ion-segment-button>
    <ion-segment-button value="list">
      <ion-label>List</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selection">
    <div *ngSwitchCase="'list'">
      <ion-list>
        <ion-item>
          1'st list item
        </ion-item>
        <ion-item>
          2'nd list item
        </ion-item>
      </ion-list>
    </div>
    <div *ngSwitchCase="'map'">

    </div>
    <div [style.display]="selection == 'map' ? 'block' : 'none'">
      <div #map id="map"></div>
   </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p text-center>Awesome footer</p>
  </ion-toolbar>
</ion-footer>