<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Google Map Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div id="map"></div>
</ion-content>
