<ion-header>
  <ion-toolbar>
    <ion-title>Google Maps Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <ion-button expand="block" routerLink="/google-maps" routerDirection="forward">Open Map Page</ion-button>
    <ion-button expand="block" routerLink="/google-maps-ab" routerDirection="forward">Open Map (A-B) Page</ion-button>
    <ion-button expand="block" routerLink="/google-maps-clustering" routerDirection="forward">Open Map (Cluster) Page</ion-button>
    <ion-button expand="block" routerLink="/google-maps-size" routerDirection="forward">Open Map (size) Page</ion-button>
  </div>
</ion-content>
